.link_item{
    color:slategray;
    font-family:'Times New Roman', Times, serif;
}
.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(64, 66, 141);
    overflow-x: hidden;
    padding-top: 20px;
  }
.main {
margin-left: 15%; /* Same as the width of the sidenav */
font-size: 28px; /* Increased text to enable scrolling */
padding: 0px 10px;
}
.container{
    width: 10.625%;
    height: 33vh;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    font-size: 1vw;
}
.coverobject{
    width:94.12%;
    padding-left: 5.88%;
    object-fit: cover;
}